@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
header, section, footer, aside, nav, main, article, figure {
	display:block; 
}
* {
	font-family:'Roboto', sans-serif;
	padding:0;
	margin:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html, body {
	background-color:#111;
	margin:0 auto;
}
.rtWrap {
	max-width:1236px;
	margin:0 auto;
	font-size:12px;
	background-color:#FFF;
}
header {
    position:relative;
}
.rt-top-logo {
    display:inline-block;
    margin:2em 1em 0.75em 1em;
}
.rt-top-logo img {
    display:block;
    width:auto;
    height:auto;
}
#rtSPC {
    position:absolute;
    right:0;
    top:32px;
}
.rt-spc-item {
    display:inline-block;
    vertical-align:middle;
    margin:0 1.5em;
	position:relative;
}
#rtSearch {
    padding-right:0.5em;
    background-color:#EEE;
}
#rtSearch input {
    border:none;
    background-color:#EEE;
    font-size:1.75em;
    padding:0.25em 0.5em;
	margin-right:31px;
}
#rtSearch button {
    border:none;
    background-color:transparent;
    font-size:1.75em;
	position:absolute;
    right:0.25em;
    top:50%;
    margin-top:-10.5px;
}
#rtSearch button i {
    display:block;
    width:25px;
    height:21px;
    background-position:-75px 0px;
}
#rtPhone {
    color:#000;
    text-decoration:none;
	padding:0 0 0 25px;
}
#rtPhone i {
    position:absolute;
    left:0;
    top:50%;
    display:block;
	width:25px;
    height:24px;
    background-position:-50px 0px;
    margin-top:-12px;
}
#rtPhone span {
    font-size:2em;
    font-weight:900;
    display:block;
	padding-left:0.25em;
    line-height:0.75em;
}
#rtPhone span sup {
    font-weight:normal;
    vertical-align:inherit;
    font-size:0.6em;
    display:block;
    line-height:1em;
}
#rtCart {
    padding:22px 28px 0 0;
}
#rtCart i {
    position:absolute;
    left:0;
    top:50%;
    display:block;
    width:28px;
    height:22px;
    background-position:-25px -25px;
    margin-top:-11px;
}
#rtSearch button i, #rtPhone i, #rtCart i {
	background-image:url(icon-sprite.png);
}
#rtNav {
    background-color:#222;
	padding:0 2em;
}
.rt-subnav, .rt-nav-link {
	position:relative;
    display:table-cell;
	width:10%;
    color:#CCC;
    font-size:1.33333em;
    font-weight:900;
    vertical-align:middle;
    padding:0.75em;
}
.rt-nav-link, .rt-subnav a {
	cursor:pointer;
	text-decoration:none;
}
.rt-subnav:hover, .rt-subnav:active, .rt-subnav:focus, .rt-nav-link:hover, .rt-nav-link:active, .rt-nav-link:focus {
    background-color:#444;
}
.rt-subnav a {
    display:block;
	position:relative;
}
.rt-subnav div {
	display:none;
    position:absolute;
    top:100%;
    left:-50%;
    background-color:#444;
    padding:5.25em 0 1em;
    width:200%;
    background-image:url(wheel-bg.jpg);
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:right bottom;
    box-shadow:0em 0em 0.5em rgba(0,0,0,0.8);
}
.rt-subnav:first-child div {
    left:0;
}
.rt-subnav:hover div, .rt-subnav:active div, .rt-subnav:focus div {
	display:block;
	z-index:1;
}
.rt-subnav div a {
    padding:0.25em 1.5em;
    color:#FFF;
    font-weight:normal;
    text-decoration:none;
}
.rt-subnav div a:hover {
    color:#edb81e;
}
#rtTop {
    padding-top:379px;
    margin-top:1em;
    background-image:url(truck-desktop.jpg);
    background-position:center;
    background-size:cover;
	position:relative;
}
#rtTop h1 {
    position:absolute;
    left:0.5em;
    bottom:0.5em;
    background-color:rgba(237,184,30,0.9);
    font-size:2em;
	padding:1em 4.5em 1em 0.75em;
}
#rtTop h1 sub {
    vertical-align:inherit;
    font-size:0.5em;
    font-weight:normal;
    color:#666;
    display:block;
}
#rtTop h1 span {
    display:block;
    color:#FFF;
    text-transform:uppercase;
    font-size:1.5em;
}
#rtFilter {
    background-color:#EEE;
    font-size:1.33333em;
    padding:1em;
	text-align:right;
}
#rtFilter p, #rtFilter form {
    font-weight:bold;
}
#rtFilter p {
	float:left;
}
#rtFilter p:before {
	content:"Showing ";
}
#rtFilter p::after {
	content:" results";
}
#rtFilter form section {
	display:inline-block;
	vertical-align:middle;
}
#rtProducts {
    font-size:0;
    padding:12px 6px;
}
.rt-product {
    display:inline-block;
    vertical-align:bottom;
    width:25%;
    font-size:12px;
    padding:2em 0.5em 1em;
}
.rt-prod-img {
    background-image:url(wheel.jpg);
    background-size:cover;
    padding-top:75.0809%;
}
.rt-prod-info {
    border-bottom:1px solid #EEE;
    padding-bottom:2em;
}
.rt-product h2 {
    margin:0.75em 0;
}
.rt-product h3 {
    font-size:1.75em;
}
.rt-product h3 sup {
    font-weight:normal;
    vertical-align:text-top;
    font-size:0.75em;
}
#rtPager {
    text-align:right;
    padding:0 12px 24px;
    font-size:0;
    font-weight:bold;
	color:#666;
}
.rt-pager-btn {
    display:inline-block;
    vertical-align:middle;
    background-color:#FAFAFA;
    border:1px solid #DDD;
    font-size:16px;
    width:30px;
    height:30px;
    text-align:center;
    padding:0.25em;
	cursor:pointer;
}
.rt-pager-btn:not(:last-child) {
    border-right:none;
}
.rt-pager-btn i {
	background-image:url(icon-sprite.png);
    display:inline-block;
    width:10px;
    height:20px;
}
#rtPrev i {
    background-position:0px -25px;
}
#rtNext i {
    background-position:-10px -25px;
}
footer {
    background-color:#3D3D3D;
    padding:1.5em 1em;
    border-top:1em solid #edb81e;
    color:#D3D3D3;
}
footer .rtWrap {
    text-align:right;
	padding:0 1em;
	background-color:transparent;
}
footer section a {
	color:#FFF;
	text-decoration:none;
}
.rt-bottom-logo {
    display:inline-block;
}
.rt-bottom-logo img {
    display:block;
}
#rtLegal {
    float:left;
    text-align:left;
}
@media (max-width:1235px) {
.rt-subnav a br, #rtPhone span, #rtFilter p::before, #rtFilter p:after {
	display:none;
}
.rtWrap {
	max-width:768px;
	position:relative;
}
header {
    margin:0;
	text-align:center;
	position:initial;
}
.rt-top-logo {
    margin:1em 0;
}
nav {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:44px;
    height:38px;
    padding-top:44px;
}
nav:hover {
    padding:48px 0 0;
    width:27.5%;
    height:100%;
    z-index:100;
    background-color:rgba(51,51,51,0.98);
	box-shadow: 0px 0px 48px rgba(0,0,0,1);
}
#rtMenu {
    background-image:url(icon-sprite.png);
    background-position:0px 0px;
    width:24px;
    height:21px;
    position:absolute;
    top:13.5px;
    left:12px;
    z-index:100;
	cursor:pointer;
}
#rtSPC {
    position:initial;
}
.rt-spc-item {
	margin:0;
	display:none;
}
nav:hover .rt-spc-item {
	display:block;
}
#rtPhone {
    position:absolute;
    top:12px;
    right:52px;
    height:24px;
}
#rtCart {
    position:absolute;
    top:13px;
    right:12px;
}
#rtSearch {
    padding-right:55px;
}
#rtSearch input {
    width:100%;
    margin:0;
    padding:0.5em;
}
#rtSearch button {
    right:12px;
}
nav:hover #rtMenu {
	background-position:-25px 0px;
}
nav:hover #rtPhone i {
	background-position:-50px -50px;
}
nav:hover #rtCart i {
	background-position:-72px -25px;
}
#rtNav {
    background-color:transparent;
    padding:0;
}
.rt-subnav, .rt-nav-link {
    display:block;
    width:100%;
    text-align:left;
    font-weight:normal;
    padding:0;
    border-bottom:1px solid #666;
    color:#FFF;
}
.rt-nav-link, .rt-subnav a {
	padding:16px 44px 16px 12px;
}
.rt-subnav a i {
    background-image: url(icon-sprite.png);
    background-position: 0px -50px;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -10px;
}
.rt-subnav:hover a i {
    background-position: -25px -50px;
}
.rt-subnav div {
    position:initial;
    padding:0;
    box-shadow:none;
    background:none;
    width:100%;
}
.rt-subnav div a {
    padding:1em 0.75em 1em 1.5em;
    border-top:1px solid #666;
    color:#edb81e;
}
#rtTop {
    margin-top:0;
    background-image:url(truck-tablet.jpg);
}
#rtTop h1 {
    left:0;
    bottom:0;
    padding:0.5em 0.75em;
    width:100%;
}
#rtTop h1 span {
    color:#000;
    font-size:1em;
}
.rt-product {
    width:50%;
	padding-top:0em;
}
.rt-prod-img, .rt-prod-info {
    display:table-cell;
    vertical-align:top;
    width:50%;
}
.rt-prod-img {
    padding:37.54045% 0 1em;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top;
	border-bottom:1px solid #EEE;
}
.rt-prod-info {
    padding-left:1em;
}
.rt-product h2 {
    margin:0 0 2em;
}
#rtPager {
    text-align:center;
}
}
@media (max-width:767px) {
.rtWrap {
	max-width:320px;
	position:relative;
}
.rt-top-logo {
    margin: 0.75em 0;
}
.rt-top-logo img {
    height: 27px;
}
nav:hover {
    width: 66%;
}
#rtTop {
    background-image: url(truck-mobile.jpg);
	padding-top: 213px;
}
#rtTop h1 {
    padding: 0.25em 0.75em;
	background-color:#FFF;
}
#rtFilter {
    background-color: #FFF;
    padding: 0.5em 1em;
	position:relative;
	text-align:left;
}
#rtFilter p {
    float: none;
}
#rtFilter form {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em 1em;
}
#rtFilter form::before {
	content:"SORT";
	display:block;
	padding-right: 16px;
	text-align:right;
}
#rtFilter form::after {
	content:"";
    background-image:url(icon-sprite.png);
	background-position: -75px -50px;
    display: block;
    width: 13px;
    height: 9px;
    position: absolute;
    right: 1em;
    top: 13px;
}
#rtFilter form:hover {
	width:75%;
	background-color:#EEE;
	box-shadow:-0.25em 0.25em 0.5em rgba(0,0,0,0.5);
}
#rtFilter form section {
	display:none;
}
#rtFilter form:hover section {
	display:table-cell;
	padding-top:1em;
}
#rtFilter form label {
	display:block;
}
#rtFilter form:hover section:nth-of-type(2) {
	padding-left:1em;
}
#rtFilter form:hover section:nth-of-type(2) select {
	width:100%;
}
.rt-product {
    width:100%;
}
.rt-product h2 {
    margin: 0 0 0.5em;
}
.rt-product h3 sup {
	display:block;
}
.rt-pager-btn {
	border:none;
	background-color:transparent;
	width:auto;
}
.rt-pager-btn:not([id]) {
    display: none;
}
.rt-pager-btn::before, .rt-pager-btn::after {
	padding:0 0.5em;
	vertical-align:top;
}
#rtPrev::after {
	content:"Previous";
}
#rtNext::before {
	content:"Next";
}
footer .rtWrap {
    text-align: center;
}
#rtLegal {
    float: none;
    text-align: center;
    padding-top: 1em;
}
}